basePath: /
host: localhost:5000
info:
  contact:
    email: minkj1992@gmail.com
    name: API Support
  description: This is a sample swagger for Fiber
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: My SERVER
  version: "1.0"
paths: {}
swagger: "2.0"
